@charset "UTF-8";

h1{
    color: aqua;
    text-align: center;
}
/* 
body{
    background-color: black;
}
#problem{
    background-color: blueviolet;
}

h1#odai{
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
} */