<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/play.css">
    <title>Let's play ITO!</title>
</head>
<body>
   <header></header> 

   <main>
        <div id="problem">
            <h1 id="odai">お題 :</h1>
            <h2>
                中学生の頃めちゃくちゃ嫌だった授業
            </h2>
        </div>
       <h1>何人で遊びますか?</h1>
       <form action="/playmode-number" method="post" enctype="multipart/form-data">
           <input type="number" name="data1">
           <input type="submit" value="決定">
       </form>
   </main>
   <script>
        let arr = csvToArray("odai.csv");
        for(let i=0;i<arr.length;i++){
            console.log(arr[i]);
        }
        // CSVファイル読み込み
        function csvToArray(filename) {

            // CSVファイルを文字列として取得
            let srt = new XMLHttpRequest();
            srt.open("GET", filename, false);
            try {
                srt.send(null);
            } catch (err) {
                console.log(err)
            }

            // 配列を用意
            let csletr = [];

            // 改行ごとに配列化
            let lines = srt.responseText.split("\n");

            // 1行ごとに処理
            for (let i = 0; i < lines.length; ++i) {
                let cells = lines[i].split(",");
                if (cells.length != 1) {
                    csletr.push(cells);
                }
            }
            return csletr;
        }
   </script>
</body>
</html>