<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/play.css">
    <title>Let's play ITO!</title>
</head>
<body>
   <header></header> 

   <main>
       <h1>{{ player_number }}人でプレイしています.</h1>
       <h2>player1 :</h2>
       <form action="/playmode-name" method="post" enctype="multipart/form-data">
           <input type="text" name="player1">
           <input type="submit" value="決定">
       </form>
   </main>
</body>
</html>